<!DOCTYPE html>
<html>

<head>
	<%= render :partial => "layouts/head" %>
</head>

<body>
 
<!-- Contenerdor-->
<div class ="container">
	<!-- Cabecera-->
	<%= render :partial => "layouts/cabecera" %>
	<!--  Fin cabecera-->

</div>
<!-- Fin del contenedor-->

<% if  flash.now[:noticia] %>
	<div class="row">
		<div class="span10 offset2 alert alert-success" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		<%= flash.now[:noticia] %>
		</div>
	</div>
<%end%>

<% if  flash.now[:error] %>
	<div class="row">
		<div class="span10 offset2 alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		<%= flash.now[:error] %>
		</div>
	</div>
<%end%>

<div class="row">
	<div class="span6 offset3">
	<%= yield %>
</div>
</div>

</body>
</html>
